<%= turbo_frame_tag 'dog-attribute' do %>
  <% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
  <% end %>

  <%# レイアウトをモーダル用に整える %>
  <%= bootstrap_form_with(model: dog, data: { action: "turbo:submit-end->dog-modal#close" }) do |form| %>
    <%= form.text_field :name %>
    <%= form.text_field :age %>
    <%= form.primary %>
  <% end%>
<% end %>
